<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/public/styles/toap.css">
    <link rel="shortcut icon" href="/public/img/favicon.ico">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/public/img/opengraph.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="533">
    <title>Tips on a Plane, with ChangeTip</title>
</head>
<body class="{% block bodyclass %}{% endblock bodyclass%}">
{% block content %}{% endblock content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/public/js/app.js"></script>
</body>
</html>
