{% extends "base.html" %}

{% block bodyclass %}{{ block.super }}home{% endblock bodyclass%}

{% block content %}
<div class="content-screen">
    <div class="wordmark"></div>
    {% if user.is_authenticated %}
        Logged in as {{user}}
    {% else %}
        <form action="/login/changetip/" method="post">
            {{csrf}}
            <input type="image" src="https://cdn.changetip.com/img/sign-in-with-changetip.png">
        </form>
    {% endif %}
</div>
<div class="content-print">
    <div class="link">
        <img class="qr" src="https://api.qrserver.com/v1/create-qr-code/?data=http://tip.me/once/rsrD-ocXWkfk&size=320x320">
        <div class="text">http://tip.me/once/rsrD-ocXWkfk</div>
    </div>
</div>
{% endblock content %}
