{% extends "base.html" %}

{% block bodyclass %}{{ block.super }}home{% endblock bodyclass%}

{% block content %}
<div class="content-screen">
    <div class="wordmark"></div>
    {% if user.is_authenticated %}
        <div class="user">
            <img src="{{extra_data.picture_url}}">
            <a href="/logout/">logout</a>
        </div>
        <form class="tip-form" action="/tip-url" method="post">
            {% csrf_token %}
            <input type="text" name="text_amount" placeholder="Throw away how much?">
            <input type="submit">
        </form>
        <div class="print">
            <button>Print your plane</button><br>
            <br>
            <img style="height:200px" src="http://0.tqn.com/d/origami/1/5/B/9/-/-/dart-plane.png">
        </div>
    {% else %}
        <ul class="steps">
            <li class="step1">Sign in with ChangeTip</li>
            <li class="step2">Choose an amount</li>
            <li class="step3">Print a paper airplane</li>
        </ul>
        <form action="/login/changetip/" method="post">
            {% csrf_token %}
            <input class="sign-in-button" type="image" src="/public/img/sign-in-with-changetip.png">
        </form>
    {% endif %}
</div>
<div class="content-print">
    <img class="plane-bg" src="/public/img/plane-bg.png">
    <img class="pilot" src="{{extra_data.picture_url}}">
    <img class="co-pilot" src="/public/img/sam.jpg">
    <div class="link">
        <img class="qr" src="">
        <div class="text">Collect your tip here!<span></span></div>
    </div>
</div>
{% endblock content %}
